(defmodule {{PROJECT}}-server
  (export (start 0)
          (stop 0)))

(defun start ()
  (ec_application:start_with_dependencies '{{PROJECT}}-server))

(defun stop ()
  (application:stop '{{PROJECT}}-server))