(defmodule {{PROJECT}}-app
  (doc "TODO: write docstring")
  (behaviour application)
  (export (start 2)
          (stop  1)))

(defun start (type args)
  "Start the application."
  (let ((result ({{PROJECT}}-sup:start_link)))
    (case result
      (`#('ok ,pid) result)
      (_other       `#(error ,result)))))

(defun stop (state)
  "Stop the application."
  'ok)
